
.headline {
    position: relative;
    caret-color: transparent;
    margin: 0 2em;
}

/* Puts a blinking square after the content as replacement for caret */
.headline:after {
    content: "■";
    animation: cursor 1s infinite;
    animation-timing-function: step-end;
    margin-left: 1px;
}
  