.login-btn, .action {
    cursor: pointer;
}

.connected {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    flex-direction: row;
    font-size: 0.5em;
    justify-content: space-between;
}
