@font-face {
  font-family: "Glass";
  src: local('Glass-TTY-VT220'), url(./fonts/Glass_TTY_VT220.ttf) format('truetype');
}

@keyframes scanline {
  0% {
      bottom: 100%;
  }
  80% {
      bottom: 100%;
  }
  100% {
      bottom: 0%;
  }
}